<div class="flex w-[50%]">
  <mat-form-field appearance="fill">
    <mat-select class="flex-1" placeholder="MM" [(ngModel)]="defaultMonth">
      <mat-option *ngFor="let item of Months" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="w-12"></div>

  <mat-form-field appearance="fill">
    <mat-select
      class="flex-1"
      placeholder="DD"
      [(ngModel)]="defaultDay"
      [disabled]="!defaultMonth"
    >
      <mat-option *ngFor="let item of getMonthHasDays()" [value]="item">
        {{ item }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
